.bodyContainer {
    height: 5rem;
    color: #F8F8F8;
}

.bodyContent{ 
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 2rem;

    display: block;
    align-items: center;

    h1 {
        font: 700 "Inter", sans-serif ;
    }
    p {
        font: 400 "Inter", sans-serif;
        margin-top: 0;
    }

    h5 {
        display: inline;
        font: 600 "Inter", sans-serif;
        
        & + h5 {
            padding: 0 2rem;
        }
    }
}

.button {
    color: #FF57B2;
    font: 700 "Inter", sans-serif ;
    font-size: 1.25rem;
    font-weight: bold;
    height: 0;
    background: transparent;
    margin: 1.5rem 0 0 10rem;
    border: 0;

    display: flex;

    cursor: pointer;

    transition: filter 0.2s;
    &:hover {
        filter: brightness(0.75);
    }
    
}