.bodyContainer {
    height: 5rem;
    color: #F8F8F8;
}

.bodyContent{ 
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 2rem;

    h1 {
        cursor: pointer;
    }

    p {
        margin-top: 0;
    }

    h5 {
        display: inline;
        font: 600;
        
        & + h5 {
            padding: 0 2rem;
        }
    }
}

.button {
    color: #FF57B2;
    font: 700;
    font-size: 1.25rem;
    height: 0;
    background: transparent;
    margin-top: 2rem;
    margin-left: 8rem;
    border: 0;

    cursor: pointer;

    transition: filter 0.2s;
    &:hover {
        filter: brightness(0.75);
    }
    
}

.buttonHidden {
    display: none;
}